@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --primary-color: #3b82f6;
    --primary-color-text: #0d0d0d;
}
html,
body {
    scroll-behavior: smooth; 
}


/* index.css */
